@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: #C0C0C0;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  height: 300px;
  overflow-y: auto;
  border: 2px solid #000;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

li {
  padding: 5px;
  background-color: #FFFFC0;
  margin-bottom: 5px;
  border: 1px solid #808080;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex-grow: 1;
  padding: 5px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px inset #808080;
  background-color: #FFFFFF;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #C0C0C0;
  color: #000;
  border: 2px outset #808080;
  cursor: pointer;
}

button:hover {
  background-color: #D3D3D3;
}

button:active {
  border-style: inset;
}

button[type="submit"] {
  background-color: #008080;
  color: #FFFFFF;
}

button[type="submit"]:hover {
  background-color: #006666;
}
